{% extends "base.html" %}

{% block content %}

<style>
  
  
</style>

<div class="form-container">
  <h2 class="form-heading">Cadastro de Novo Carro</h2>

  {% if messages %}
  <div class="alert-container">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <table>
      <!-- Brand -->
      <tr>
        <td>{{ form.brand.label }}</td>
        <td>{{ form.brand }}</td>
      </tr>

      <!-- Model -->
      <tr>
        <td>{{ form.model.label }}</td>
        <td>{{ form.model }}</td>
      </tr>

      <!-- Factory Year -->
      <tr>
        <td>{{ form.factory_year.label }}</td>
        <td>{{ form.factory_year }}</td>
      </tr>

      <!-- Model Year -->
      <tr>
        <td>{{ form.model_year.label }}</td>
        <td>{{ form.model_year }}</td>
      </tr>

      <!-- Plate -->
      <tr>
        <td>{{ form.plate.label }}</td>
        <td>{{ form.plate }}</td>
      </tr>

      <!-- Value -->
      <tr>
        <td>{{ form.value.label }}</td>
        <td>{{ form.value }}</td>
      </tr>

      <!-- Photo -->
      <tr>
        <td>{{ form.photo.label }}</td>
        <td>{{ form.photo }}</td>
      </tr>
    </table>

    <input type="submit" value="Cadastrar" class="input">
  </form>
</div>

{% endblock %}